body {
  font-family: 'Times New Roman', Times, serif;
}
.card-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;
  font-size: larger;
}

#post-image {
  width: auto !important;
  height: auto !important;
  /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
  object-fit: scale-down;
}

.card {
  width: 30rem;
}
body {
  background-color: hsl(0, 0%, 70%);
}
.card {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}
.card:hover {
  background-color: rgba(251, 250, 251, 0.58);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40rem;
}
/* TODO: Add eye when hover the card */
