body {
    background-image: url('https://img.freepik.com/free-vector/new-year-card-vector-template-decorated-with-abstract-watercolor-painting_8130-1460.jpg?w=740&t=st=1719319527~exp=1719320127~hmac=03b56445aa9be04f9d48148959c592929034434f860224bfb9a19b0ad3b7a7bb.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#new-post-container {
    margin-top: 150px;
}

#new-post-form {
    background-color: whitesmoke;
}
